body {
    background-color: blanchedalmond;
}
p2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
a {
    font-size: large;
}

.squig {
    height: 100px;
    width: 250px;
}
.logo {
    width: 50px;
    height: 50px;
}