body {
    background-color: burlywood;
}
p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
a {
    font-size: x-large;
}
.contact {
    background-color: burlywood;
}
.card-image {
    height: 16rem;
}
.logo {
    width: 15px;
    height: 15px;
}